:root {
  --primary: #0b0b3b;
  --secondary: #ff0080;
  --tertiary: #ff0000;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

body {
  font-size: 20px;
}

section {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;
}

footer {
  text-align: center;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  text-align: center;
  justify-content: center;
}

.highscore-btn {
  vertical-align: center;
  justify-content: left;
  color: var(--secondary);
  border: solid 5px rgb(77, 35, 35);
  background: none;
  font-size: 20px;
}

.highscore-btn:hover {
  background-color: rgba(239, 139, 191, 0.8);
}

.timer {
  text-align: center;
  justify-content: right;
}

.start-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
p .start-area {
  flex-direction: column;
}

.start-button {
  color: blue;
  text-align: center;
  background-color: antiquewhite;
}

.hide {
  display: none;
}

.question-container {
  text-align: center;
}

.question {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.question-list {
  border: darkblue solid 2px;
  margin: 2%;
}

.question-list:hover {
  background-color: rgba(95, 104, 160, 0.8);
}

.after-quiz {
  font-size: 25px;
}
